@use "../../scss/themes/_theme" as t;

.attribution {
  --attr__link-clr: #{t.$attr__link_clr};
  --attr__link_hov-clr: #{t.$attr__link_hov-clr};

  padding: 0.25em;
  color: t.$attr_clr;
  background: {
    color: t.$attr_bg-clr;
  }
  text: {
    align: center;
  }
}

// only for the challenge
.attribution {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
