// ==========================================================================
// palette
// ==========================================================================
//
// blue
// --------------------------------------------------------------------------
$blue-100: hsl(240, 5%, 91%);
$blue-300: hsl(240, 73%, 65%);
$blue-400: hsl(240, 6%, 50%);
$blue-500: hsl(237, 12%, 33%);
$blue-700: hsl(238, 29%, 16%);

//
// violet
// --------------------------------------------------------------------------
$violet-300: hsl(273, 75%, 66%);

//
// red
// --------------------------------------------------------------------------
$red-400: hsl(14, 88%, 65%);

///
// neutral
// --------------------------------------------------------------------------
$white-400: hsl(0, 0%, 100%);
$black-400: hsl(0, 0%, 0%);

// ==========================================================================
// base
// ==========================================================================
//
// body
// --------------------------------------------------------------------------
$body_bg-gradient: linear-gradient($violet-300, $blue-300);
$body_clr: $black-400;

// ==========================================================================
// components
// ==========================================================================
//
// attribution
// --------------------------------------------------------------------------
$attr_bg-clr: $black-400;
$attr_clr: $white-400;
$attr__link_clr: $blue-400;
$attr__link_hov-clr: $red-400;

//
// faq-card
// --------------------------------------------------------------------------
$faq-card_bg-clr: $white-400;

//
// faq-card-simple
// --------------------------------------------------------------------------
$faq-card-simple_clr: $blue-400;
$faq-card-simple__title_clr: $blue-700;
$faq-card-simple__button_clr: $blue-500;
$faq-card-simple__button_hover-clr: $red-400;
$faq-card__item_border-clr: $blue-100;
