@use "../abstracts/mixins" as *;
@use "../themes/_theme" as t;

// ==========================================================================
// all
// ==========================================================================
*,
*::before,
*::after {
  @include reset;
}

// ==========================================================================
// body
// ==========================================================================
body {
  @include grid($gTR: true, $gTRVal: 1fr auto);

  background: t.$body_bg-gradient;
  min: {
    height: 100vh;
  }
}

// ==========================================================================
// main
// ==========================================================================
main {
  @include grid($pI: true);
}

// ==========================================================================
// button
// ==========================================================================
button {
  border: none;
  background: inherit;
}
