@use "../abstracts/_variables" as v;
@use "../themes/_theme" as t;

// ==========================================================================
// body
// ==========================================================================
body {
  color: t.$body_clr;
  font: {
    size: v.$fs-100;
    family: v.$primary-font;
    weight: v.$fw-400;
  }
}
